<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organ Control UI</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script type="importmap">
        {
            "imports": {
            "vue": "/static/js/vue.esm-browser.js"
            }
        }
    </script>
</head>

<body class="bg-dark text-light">
    <div id="app">
        <div class="btn-group w-100" role="group">
            <button @click="page = 0" type="button" class="btn rounded-0" :class="{'btn-primary': page == 0, 'btn-secondary': page != 0}">Stops/Notes 1</button>
            <button @click="page = 1" type="button" class="btn" :class="{'btn-primary': page == 1, 'btn-secondary': page != 1}">Stops/Notes 2</button>
            <button @click="page = 2" type="button" class="btn" :class="{'btn-primary': page == 2, 'btn-secondary': page != 2}">Folder Naming</button>
            <button @click="page = 3" type="button" class="btn" :class="{'btn-primary': page == 3, 'btn-secondary': page != 3}">Expression</button>
            <button @click="page = 4" type="button" class="btn" :class="{'btn-primary': page == 4, 'btn-secondary': page != 4}">Sequencer</button>
            <button @click="page = 5" type="button" class="btn rounded-0" :class="{'btn-primary': page == 5, 'btn-secondary': page != 5}">Site-Specific</button>
        </div>
        <div class="container" v-if="page == 0">
            <h1>{{uptime}}</h1>
        </div>
        <div class="container" v-if="page == 4">
            <div class="row mt-5">
                <div class="col-12 col-md-6 text-center">
                    <h2>Track Number:</h2>
                    <h1><b>{{ trackNum }}</b></h1>
                </div>
                <div class="col-12 col-md-6 text-center mt-5 mt-md-0">
                    <h2>Time:</h2>
                    <h1><b>{{ trackTime }}</b></h1>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-6 col-md-3">
                    <h4 class="text-danger" v-if="trackLocked == 1">Track Locked</h4>
                    <h4 class="text-success" v-if="trackLocked == 0">Track Unlocked</h4>
                </div>
                <div class="col-6 col-md-3">
                    <!-- Empty for spacing -->
                </div>
            </div>
            <div class="row mt-1 justify-content-center">
                <div class="col-6 col-md-3">
                    <button @click="sendOSCcmd('/OPTICS/special2034')" class="btn btn-lg w-100 btn-primary pt-4 pb-4"><span v-if="trackLocked == 1">Un</span>Protect</button>
                </div>
                <div class="col-6 col-md-3">
                    <button @click="sendOSCcmd('/OPTICS/special2035')" class="btn btn-lg w-100 btn-danger pt-4 pb-4">Record</button>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-6 col-md-3">
                    <button @click="sendOSCcmd('/OPTICS/special2033')" class="btn btn-lg w-100 btn-secondary pt-4 pb-4">Track -10</button>
                </div>
                <div class="col-6 col-md-3">
                    <button @click="sendOSCcmd('/OPTICS/special2032')" class="btn btn-lg w-100 btn-secondary pt-4 pb-4">Track Down</button>
                </div>
                <div class="col-6 col-md-3 mt-3 mt-md-0">
                    <button @click="sendOSCcmd('/OPTICS/special2031')" class="btn btn-lg w-100 btn-secondary pt-4 pb-4">Track Up</button>
                </div>
                <div class="col-6 col-md-3 mt-3 mt-md-0">
                    <button @click="sendOSCcmd('/OPTICS/special2030')" class="btn btn-lg w-100 btn-secondary pt-4 pb-4">Track +10</button>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-6 col-md-3">
                    <button @click="sendOSCcmd('/OPTICS/special2036')" class="btn btn-lg w-100 btn-success pt-4 pb-4">Play</button>
                </div>
                <div class="col-6 col-md-3">
                    <button @click="sendOSCcmd('/OPTICS/special2037')" class="btn btn-lg w-100 btn-danger pt-4 pb-4">Stop</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module">
        import { createApp } from 'vue'
        var socket = io();

        const app = createApp({
            data() {
                return {
                    page: 4,
                    trackNum: "",
                    trackTime: "",
                    trackLocked: 1,
                    uptime: ""
               }
            },
            methods: {
                sendMessage(message) {
                    socket.emit(message);
                },
                sendOSCcmd(cmd) {
                    socket.emit('sendOSCcmd', cmd);
                }
            }
        }).mount('#app');

        socket.on('trackNum', function(num) {
            app.trackNum = num;
        });

        socket.on('trackTime', function(time) {
            app.trackTime = time;
        });

        socket.on('trackLocked', function(locked) {
            app.trackLocked = locked;
        });

        socket.on('uptime', function(time) {
            app.uptime = time;
        });
    </script>
</body>

</html>