<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organ Control UI - Organist</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="importmap">
        {
            "imports": {
            "vue": "/static/js/vue.esm-browser.js"
            }
        }
    </script>
</head>

<body class="bg-dark text-light">
    <div id="app">
        <div class="container-fluid mb-3">
            <div class="row">
                <div class="col-4 d-flex p-0">
                    <button @click="page = 0" type="button" class="btn rounded-0 w-100" :class="{'btn-primary': page == 0, 'btn-secondary': page != 0}">Naming</button>
                </div>
                <div class="col-4 d-flex p-0">
                    <button @click="page = 1" type="button" class="btn rounded-0 w-100" :class="{'btn-primary': page == 1, 'btn-secondary': page != 1}">Tracks</button>
                </div>
                <div class="col-4 d-flex p-0">
                    <button @click="page = 2" type="button" class="btn rounded-0 w-100" :class="{'btn-primary': page == 2, 'btn-secondary': page != 2}">Site Specific</button>
                </div>
            </div>
        </div>
        <div class="container-fluid text-light" v-if="page == 0">
            <h1 class="text-center mb-5">{{uptime}}</h1>
            <div class="row mb-3 justify-content-center">
                <div class="col-6 col-md-2 mb-3">
                    <button class="btn btn-lg btn-outline-primary w-100" @touchstart="sendOSCcmd('/OPTICS/specialkb14', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb14', 0, $event)">Save To Track</button>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <button class="btn btn-lg btn-outline-primary w-100" @touchstart="sendOSCcmd('/OPTICS/specialkb15', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb15', 0, $event)">Save To Folder</button>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-center">
                    <h3>{{folderTrackName}}</h3>
                </div>
            </div>
            <div class="text-danger text-center mb-2">
                Press <i>Escape</i> to erase a name.
            </div>
            <div class="text-center mb-3">
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb27', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb27', 0, $event)">Escape</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb49', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb49', 0, $event)">1</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb50', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb50', 0, $event)">2</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb51', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb51', 0, $event)">3</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb52', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb52', 0, $event)">4</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb53', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb53', 0, $event)">5</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb54', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb54', 0, $event)">6</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb55', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb55', 0, $event)">7</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb56', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb56', 0, $event)">8</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb57', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb57', 0, $event)">9</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb48', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb48', 0, $event)">0</button>
                <button class="btn btn-secondary btn-lg" @touchstart="sendOSCcmd('/OPTICS/specialkb8', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb8', 0, $event)">Delete</button>
            </div>
            <div class="text-center mb-3">
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb113', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb113', 0, $event)">Q</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb119', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb119', 0, $event)">W</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb101', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb101', 0, $event)">E</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb114', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb114', 0, $event)">R</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb116', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb116', 0, $event)">T</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb121', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb121', 0, $event)">Y</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb117', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb117', 0, $event)">U</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb105', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb105', 0, $event)">I</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb111', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb111', 0, $event)">O</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb112', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb112', 0, $event)">P</button>
            </div>
            <div class="text-center mb-3">
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb97', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb97', 0, $event)">A</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb115', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb115', 0, $event)">S</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb100', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb100', 0, $event)">D</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb102', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb102', 0, $event)">F</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb103', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb103', 0, $event)">G</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb104', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb104', 0, $event)">H</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb106', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb106', 0, $event)">J</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb107', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb107', 0, $event)">K</button>
                <button class="btn btn-secondary btn-lg" @touchstart="sendOSCcmd('/OPTICS/specialkb108', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb108', 0, $event)">L</button>
            </div>
            <div class="text-center mb-3">
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb122', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb122', 0, $event)">Z</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb120', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb120', 0, $event)">X</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb99', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb99', 0, $event)">C</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb118', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb118', 0, $event)">V</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb98', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb98', 0, $event)">B</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb110', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb110', 0, $event)">N</button>
                <button class="btn btn-secondary btn-lg me-3" @touchstart="sendOSCcmd('/OPTICS/specialkb109', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb109', 0, $event)">M</button>
                <button class="btn btn-secondary btn-lg" @touchstart="sendOSCcmd('/OPTICS/specialkb28', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb28', 0, $event)">Shift</button>
            </div>  
            <div class="text-center mb-5">
                <button class="btn btn-secondary btn-lg ps-5 pe-5" @touchstart="sendOSCcmd('/OPTICS/specialkb32', 1)" @touchend="sendOSCcmd('/OPTICS/specialkb32', 0, $event)">Space</button>
            </div> 
            <div class="row">
                <div class="col-6 col-md-3">
                    <button class="btn btn-lg btn-outline-primary w-100 mb-3" @touchstart="sendOSCcmd('/OPTICS/special2042', 1)" @touchend="sendOSCcmd('/OPTICS/special2042', 0, $event)">Track Up</button>
                    <button class="btn btn-lg btn-outline-primary w-100" @touchstart="sendOSCcmd('/OPTICS/special2043', 1)" @touchend="sendOSCcmd('/OPTICS/special2043', 0, $event)">Track Down</button>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <h3>{{trackNum}}</h3>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <h3>{{namingCurrentFolder}}</h3>
                </div>
                <div class="col-6 col-md-3">
                    <button class="btn btn-lg btn-outline-primary w-100 mb-3" @touchstart="sendOSCcmd('/OPTICS/special2040', 1)" @touchend="sendOSCcmd('/OPTICS/special2040', 0, $event)">Folder Up</button>
                    <button class="btn btn-lg btn-outline-primary w-100" @touchstart="sendOSCcmd('/OPTICS/special2041', 1)" @touchend="sendOSCcmd('/OPTICS/special2041', 0, $event)">Folder Down</button>
                </div>
            </div>
        </div>
        <div class="container-fluid" v-if="page == 1">
            <div class="row mt-5">
                <div class="col-12 col-md-6 text-center">
                    <h1><b>{{ trackNum }}</b></h1>
                </div>
                <div class="col-12 col-md-6 text-center mt-5 mt-md-0">
                    <h1>Time: <b>{{ trackTime }}</b></h1>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-6 col-md-3">
                    <h4 class="text-danger" v-if="trackLocked == 1">Track Locked</h4>
                    <h4 class="text-warning" v-if="trackLocked == 0">Track Unlocked</h4>
                </div>
                <div class="col-6 col-md-3">
                    <!-- Empty for spacing -->
                </div>
            </div>
            <div class="row mt-1 justify-content-center">
                <div class="col-6 col-md-3">
                    <button @touchstart="sendOSCcmd('/OPTICS/special2034', 1)" @touchend="sendOSCcmd('/OPTICS/special2034', 0, $event)" class="btn btn-lg w-100 btn-primary pt-4 pb-4"><span v-if="trackLocked == 1">Unlock</span><span v-else>Lock</span></button>
                </div>
                <div class="col-6 col-md-3">
                    <button @touchstart="sendOSCcmd('/OPTICS/special2035', 1)" @touchend="sendOSCcmd('/OPTICS/special2035', 0, $event)" class="btn btn-lg w-100 btn-danger pt-4 pb-4">Record</button>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-6 col-md-3">
                    <button @touchstart="sendOSCcmd('/OPTICS/special2033', 1)" @touchend="sendOSCcmd('/OPTICS/special2033', 0, $event)" class="btn btn-lg w-100 btn-secondary pt-4 pb-4">Track -10</button>
                </div>
                <div class="col-6 col-md-3">
                    <button @touchstart="sendOSCcmd('/OPTICS/special2032', 1)" @touchend="sendOSCcmd('/OPTICS/special2032', 0, $event)" class="btn btn-lg w-100 btn-secondary pt-4 pb-4">Track Down</button>
                </div>
                <div class="col-6 col-md-3 mt-3 mt-md-0">
                    <button @touchstart="sendOSCcmd('/OPTICS/special2031', 1)" @touchend="sendOSCcmd('/OPTICS/special2031', 0, $event)" class="btn btn-lg w-100 btn-secondary pt-4 pb-4">Track Up</button>
                </div>
                <div class="col-6 col-md-3 mt-3 mt-md-0">
                    <button @touchstart="sendOSCcmd('/OPTICS/special2030', 1)" @touchend="sendOSCcmd('/OPTICS/special2030', 0, $event)" class="btn btn-lg w-100 btn-secondary pt-4 pb-4">Track +10</button>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-6 col-md-3">
                    <button @touchstart="sendOSCcmd('/OPTICS/special2036', 1)" @touchend="sendOSCcmd('/OPTICS/special2036', 0, $event)" class="btn btn-lg w-100 btn-success pt-4 pb-4">Play</button>
                </div>
                <div class="col-6 col-md-3">
                    <button @touchstart="sendOSCcmd('/OPTICS/special2037', 1)" @touchend="sendOSCcmd('/OPTICS/special2037', 0, $event)" class="btn btn-lg w-100 btn-danger pt-4 pb-4">Stop</button>
                </div>
            </div>
            <div class="container mt-3 text-center">
                <button class="btn btn-primary me-2" @touchstart="sendOSCcmd('/OPTICS/special' + (2100 + Number(i)).toString(), 1)" @touchend="sendOSCcmd('/OPTICS/special' + (2100 + Number(i)).toString(), 0, $event)" v-for="(item, i) in trackNames" :id="i">{{item}}</button>
            </div>
        </div>
        <div class="container-fluid" v-if="page == 2">
            <h2 class="text-center mb-4">Track Duplication</h2>
            <div class="row justify-content-center mb-4">
                <div class="col-4 text-center">
                    <h3 class="text-success">{{trackDupSrc}}</h3>
                    <p class="mb-5">Source</p>
                    <button class="btn btn-secondary me-3" @touchstart="sendOSCcmd('/OPTICS/special2049', 1)" @touchend="sendOSCcmd('/OPTICS/special2049', 0, $event)">Track -10</button>
                    <button class="btn btn-secondary me-3" @touchstart="sendOSCcmd('/OPTICS/special2045', 1)" @touchend="sendOSCcmd('/OPTICS/special2045', 0, $event)">Track Dn</button>
                    <button class="btn btn-secondary me-3" @touchstart="sendOSCcmd('/OPTICS/special2044', 1)" @touchend="sendOSCcmd('/OPTICS/special2044', 0, $event)">Track Up</button>
                    <button class="btn btn-secondary" @touchstart="sendOSCcmd('/OPTICS/special2048', 1)" @touchend="sendOSCcmd('/OPTICS/special2048', 0, $event)">Track +10</button>
                </div>
                <div class="col-4 col-md-2 text-center">
                    <button class="btn btn-lg w-100 btn-outline-primary" @touchstart="sendOSCcmd('/OPTICS/special2052', 1)" @touchend="sendOSCcmd('/OPTICS/special2052', 0, $event)">Copy >></button>
                </div>
                <div class="col-4 text-center">
                    <h3 class="text-danger">{{trackDupTgt}}</h3>
                    <p class="mb-5">Destination</p>
                    <button class="btn btn-secondary me-3" @touchstart="sendOSCcmd('/OPTICS/special2051', 1)" @touchend="sendOSCcmd('/OPTICS/special2051', 0, $event)">Track -10</button>
                    <button class="btn btn-secondary me-3" @touchstart="sendOSCcmd('/OPTICS/special2047', 1)" @touchend="sendOSCcmd('/OPTICS/special2047', 0, $event)">Track Dn</button>
                    <button class="btn btn-secondary me-3" @touchstart="sendOSCcmd('/OPTICS/special2046', 1)" @touchend="sendOSCcmd('/OPTICS/special2046', 0, $event)">Track Up</button>
                    <button class="btn btn-secondary" @touchstart="sendOSCcmd('/OPTICS/special2050', 1)" @touchend="sendOSCcmd('/OPTICS/special2050', 0, $event)">Track +10</button>
                </div>
            </div>
            <h2 class="text-center mb-3">User Variables</h2>
            <div class="text-center mb-4">
                <h5>Page Number</h5>
                <button class="btn btn-secondary me-3" @touchstart="sendOSCcmd('/UserDef/dec999', 1)" @touchend="sendOSCcmd('/UserDef/dec999', 0, $event)">Down</button>
                <h5 class="me-3 d-inline">{{userVarPage}}</h5>
                <button class="btn btn-secondary"@touchstart="sendOSCcmd('/UserDef/inc999', 1)" @touchend="sendOSCcmd('/UserDef/inc999', 0, $event)">Up</button>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col text-center" v-for="(uvar, i) in userVars.slice(0, 5)" :key="i">
                    <h5 class="text-start w-100 bg-danger p-1"><b>Name:</b> {{uvar.name}}</h5>
                    <h5 class="text-start w-100 bg-secondary p-1"><b>Value:</b> {{uvar.value}}</h5>
                    <button class="btn btn-secondary me-3" @touchstart="sendOSCcmd('/UserDef/dec'+(i+1).toString(), 1)" @touchend="sendOSCcmd('/UserDef/dec'+(i+1).toString(), 0, $event)">Down</button>
                    <button class="btn btn-secondary"@touchstart="sendOSCcmd('/UserDef/inc'+(i+1).toString(), 1)" @touchend="sendOSCcmd('/UserDef/inc'+(i+1).toString(), 0, $event)">Up</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col text-center" v-for="(uvar, i) in userVars.slice(5, 10)" :key="i">
                    <h5 class="text-start w-100 bg-danger p-1"><b>Name:</b> {{uvar.name}}</h5>
                    <h5 class="text-start w-100 bg-secondary p-1"><b>Value:</b> {{uvar.value}}</h5>
                    <button class="btn btn-secondary me-3" @touchstart="sendOSCcmd('/UserDef/dec'+(i+6).toString(), 1)" @touchend="sendOSCcmd('/UserDef/dec'+(i+6).toString(), 0, $event)">Down</button>
                    <button class="btn btn-secondary"@touchstart="sendOSCcmd('/UserDef/inc'+(i+6).toString(), 1)" @touchend="sendOSCcmd('/UserDef/inc'+(i+6).toString(), 0, $event)">Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module">
        import { createApp } from 'vue'
        var socket = io();

        const app = createApp({
            data() {
                return {
                    page: 0,
                    trackNum: "",
                    trackTime: "-- : --",
                    trackLocked: 0,
                    uptime: "No Uptime",
                    trackNames: { },
                    expressions: [],
                    keyboardStatus: [],
                    folderTrackName: "",
                    namingCurrentFolder: "",
                    trackDupSrc: "",
                    trackDupTgt: "",
                    userVars: [],
                    userVarPage: ""
                }
            },
            methods: {
                sendMessage(message) {
                    socket.emit(message);
                },
                sendOSCcmd(cmd, state = 1, event = null) {
                    socket.emit('sendOSCcmd', {cmd: cmd, state: state});
                    if (state == 0) {
                        event.target.blur();
                    }
                },
                moveFader(id) {
                    socket.emit('moveFader', {id: id, value: this.expressions[id].value});
                }
            }
        }).mount('#app');

        socket.on('trackNum', function (num) {
            app.trackNum = num;
        });

        socket.on('trackTime', function (time) {
            app.trackTime = time;
        });

        socket.on('trackLocked', function (locked) {
            app.trackLocked = locked;
        });

        socket.on('uptime', function (time) {
            app.uptime = time;
        });

        socket.on('trackNames', function (names) {
            app.trackNames = names;
        });

        socket.on('expressions', function (expressions) {
            app.expressions = expressions;
        });

        socket.on('keyboardStatus', function (status) {
            app.keyboardStatus = status;
        });

        socket.on('folderTrackName', function (name) {
            app.folderTrackName = name;
        });

        socket.on('namingCurrentFolder', function (name) {
            app.namingCurrentFolder = name;
        });

        socket.on('trackDupSrc', function (name) {
            app.trackDupSrc = name;
        });

        socket.on('trackDupTgt', function (name) {
            app.trackDupTgt = name;
        });

        socket.on('userVars', function (vars) {
            app.userVars = vars;
        });

        socket.on('userVarPage', function (page) {
            app.userVarPage = page;
        });
    </script>
</body>

</html>