<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organ Control UI</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="importmap">
        {
            "imports": {
            "vue": "/static/js/vue.esm-browser.js"
            }
        }
    </script>
</head>

<body class="bg-dark text-light">
    <div id="app">
        <div class="container-fluid mb-3">
            <div class="row mb-2">
                <div class="col-3 d-flex p-0">
                    <button @click="page = 0" type="button" class="btn rounded-0 w-100" :class="{'btn-primary': page == 0, 'btn-secondary': page != 0}">Stops/Notes 1</button>
                </div>
                <div class="col-3 d-flex p-0">
                    <button @click="page = 1" type="button" class="btn rounded-0 w-100" :class="{'btn-primary': page == 1, 'btn-secondary': page != 1}">Stops/Notes 2</button>
                </div>
                <div class="col-3 d-flex p-0">
                    <button @click="page = 2" type="button" class="btn rounded-0 w-100" :class="{'btn-primary': page == 2, 'btn-secondary': page != 2}">Stops/Notes 3</button>
                </div>
                <div class="col-3 d-flex p-0">
                    <button @click="page = 3" type="button" class="btn rounded-0 w-100" :class="{'btn-primary': page == 3, 'btn-secondary': page != 3}">Stops/Notes 4</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3 d-flex p-0">
                    <button @click="page = 4" type="button" class="btn rounded-0 w-100" disabled :class="{'btn-primary': page == 4, 'btn-secondary': page != 4}">Naming</button>
                </div>
                <div class="col-3 d-flex p-0">
                    <button @click="page = 5" type="button" class="btn rounded-0 w-100" :class="{'btn-primary': page == 5, 'btn-secondary': page != 5}">Expressions</button>
                </div>
                <div class="col-3 d-flex p-0">
                    <button @click="page = 6" type="button" class="btn rounded-0 w-100" :class="{'btn-primary': page == 6, 'btn-secondary': page != 6}">Tracks</button>
                </div>
                <div class="col-3 d-flex p-0">
                    <button @click="page = 7" type="button" class="btn rounded-0 w-100" disabled :class="{'btn-primary': page == 7, 'btn-secondary': page != 7}">Site Specific</button>
                </div>
            </div>
        </div>
        <div class="container-fluid mb-3" v-if="page < 4">
            <div class="row mb-3">
                <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                    <div id="piano-keyboard" class="mb-3">
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key1', 1)" @mouseup="sendOSCcmd('/keyboard/key1', 0)"></div>
                        <div class="key key-sharp" @mousedown="sendOSCcmd('/keyboard/key2', 1)" @mouseup="sendOSCcmd('/keyboard/key2', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key3', 1)" @mouseup="sendOSCcmd('/keyboard/key3', 0)"></div>
                        <div class="key key-sharp" @mousedown="sendOSCcmd('/keyboard/key4', 1)" @mouseup="sendOSCcmd('/keyboard/key4', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key5', 1)" @mouseup="sendOSCcmd('/keyboard/key5', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key6', 1)" @mouseup="sendOSCcmd('/keyboard/key6', 0)"></div>
                        <div class="key key-sharp" @mousedown="sendOSCcmd('/keyboard/key7', 1)" @mouseup="sendOSCcmd('/keyboard/key7', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key8', 1)" @mouseup="sendOSCcmd('/keyboard/key8', 0)"></div>
                        <div class="key key-sharp" @mousedown="sendOSCcmd('/keyboard/key9', 1)" @mouseup="sendOSCcmd('/keyboard/key9', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key10', 1)" @mouseup="sendOSCcmd('/keyboard/key10', 0)"></div>
                        <div class="key key-sharp" @mousedown="sendOSCcmd('/keyboard/key11', 1)" @mouseup="sendOSCcmd('/keyboard/key11', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key12', 1)" @mouseup="sendOSCcmd('/keyboard/key12', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key13', 1)" @mouseup="sendOSCcmd('/keyboard/key13', 0)"></div>
                        <div class="key key-sharp" @mousedown="sendOSCcmd('/keyboard/key14', 1)" @mouseup="sendOSCcmd('/keyboard/key14', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key15', 1)" @mouseup="sendOSCcmd('/keyboard/key15', 0)"></div>
                        <div class="key key-sharp" @mousedown="sendOSCcmd('/keyboard/key16', 1)" @mouseup="sendOSCcmd('/keyboard/key16', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key17', 1)" @mouseup="sendOSCcmd('/keyboard/key17', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key18', 1)" @mouseup="sendOSCcmd('/keyboard/key18', 0)"></div>
                        <div class="key key-sharp" @mousedown="sendOSCcmd('/keyboard/key19', 1)" @mouseup="sendOSCcmd('/keyboard/key19', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key20', 1)" @mouseup="sendOSCcmd('/keyboard/key20', 0)"></div>
                        <div class="key key-sharp" @mousedown="sendOSCcmd('/keyboard/key21', 1)" @mouseup="sendOSCcmd('/keyboard/key21', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key22', 1)" @mouseup="sendOSCcmd('/keyboard/key22', 0)"></div>
                        <div class="key key-sharp" @mousedown="sendOSCcmd('/keyboard/key23', 1)" @mouseup="sendOSCcmd('/keyboard/key23', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key24', 1)" @mouseup="sendOSCcmd('/keyboard/key24', 0)"></div>
                        <div class="key key-natural" @mousedown="sendOSCcmd('/keyboard/key25', 1)" @mouseup="sendOSCcmd('/keyboard/key25', 0)"></div>
                    </div>
                    <div class="row">
                        <div class="col-2 mb-2 d-flex">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': pitchStatus[0] == 0, 'btn-danger': pitchStatus[0] == 1}" @click="sendOSCcmd('/OPTICS/special2020')">-2 oct</button>
                        </div>
                        <div class="col-2 mb-2 d-flex">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': pitchStatus[1] == 0, 'btn-danger': pitchStatus[1] == 1}" @click="sendOSCcmd('/OPTICS/special2021')">-1 oct</button>
                        </div>
                        <div class="col-4 mb-2 d-flex">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': pitchStatus[2] == 0, 'btn-danger': pitchStatus[2] == 1}" @click="sendOSCcmd('/OPTICS/special2022')">Unison</button>
                        </div>
                        <div class="col-2 mb-2 d-flex">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': pitchStatus[3] == 0, 'btn-danger': pitchStatus[3] == 1}" @click="sendOSCcmd('/OPTICS/special2023')">+1 oct</button>
                        </div>
                        <div class="col-2 mb-2 d-flex">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': pitchStatus[4] == 0, 'btn-danger': pitchStatus[4] == 1}" @click="sendOSCcmd('/OPTICS/special2024')">+2 oct</button>
                        </div>
                        <div class="col-2 mb-2 d-flex">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': pitchStatus[5] == 0, 'btn-danger': pitchStatus[5] == 1}" @click="sendOSCcmd('/OPTICS/special2025')">+3 oct</button>
                        </div>
                        <div class="col-2 mb-2 d-flex">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': pitchStatus[6] == 0, 'btn-danger': pitchStatus[6] == 1}" @click="sendOSCcmd('/OPTICS/special2026')">+4 oct</button>
                        </div>
                        <div class="col-2 mb-2 d-flex">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': pitchStatus[7] == 0, 'btn-danger': pitchStatus[7] == 1}" @click="sendOSCcmd('/OPTICS/special2027')">+5 oct</button>
                        </div>
                        <div class="col-2 mb-2 d-flex">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': pitchStatus[8] == 0, 'btn-danger': pitchStatus[8] == 1}" @click="sendOSCcmd('/OPTICS/special2028')">+6 oct</button>
                        </div>
                        <div class="col-2">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': pitchStatus[9] == 0, 'btn-danger': pitchStatus[9] == 1}" @click="sendOSCcmd('/OPTICS/special2029')">+7 oct</button>
                        </div>
                        <div class="col-2">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': pitchStatus[10] == 0, 'btn-danger': pitchStatus[10] == 1}" @click="sendOSCcmd('/OPTICS/special1898')">+8 oct</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="row mb-3">
                        <div class="col-3 d-flex">
                            <button class="w-100 btn btn-lg btn-primary" @click="sendOSCcmd('/OPTICS/special2014')">Back</button>
                        </div>
                        <div class="col-3 d-flex">
                            <button class="w-100 btn btn-lg btn-primary" @click="sendOSCcmd('/OPTICS/special2015')">Next</button>
                        </div>
                        <div class="col-6 d-flex">
                            <button class="w-100 btn btn-lg" :class="{'btn-primary': magicTunerStatus.active == 0, 'btn-danger': magicTunerStatus.active == 1}" @click="sendOSCcmd('/OPTICS/special2012')">Magic Tuner ({{ magicTunerStatus.currentNote }})</button>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <button class="w-100 btn btn-sm btn-primary" @click="sendOSCcmd('/OPTICS/special2000')">OSC Cancel</button>
                        </div>
                        <div class="col-4">
                            <button class="w-100 btn btn-sm btn-primary" @click="sendOSCcmd('/OPTICS/special2017')">Tuner Release</button>
                        </div>
                        <div class="col-4">
                            <button class="w-100 btn btn-sm btn-primary" @click="sendOSCcmd('/OPTICS/special2013')">{{magicTunerStatus.pattern}}</button>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <button class="w-100 btn btn-sm btn-primary" @mousedown="sendOSCcmd('/OPTICS/special2016', 1)" @mouseup="sendOSCcmd('/OPTICS/special2016', 0)">Touch</button>
                        </div>
                        <div class="col-4">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': sostActive == 0, 'btn-danger': sostActive == 1}" @click="sendOSCcmd('/OPTICS/special2010')">Sostenuto</button>
                        </div>
                        <div class="col-4">
                            <button class="w-100 btn btn-sm btn-primary" @click="sendOSCcmd('/OPTICS/special2011')">Sost. Release</button>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3" v-if="page == 0">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': presetStatus[0] == 0, 'btn-danger': presetStatus[0] == 1}" @click="sendOSCcmd('/OPTICS/special1900')">Preset<b class="d-block">1</b></button>
                        </div>
                        <div class="col-3" v-if="page == 0">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': presetStatus[1] == 0, 'btn-danger': presetStatus[1] == 1}" @click="sendOSCcmd('/OPTICS/special1901')">Preset<b class="d-block">2</b></button>
                        </div>
                        <div class="col-3" v-if="page == 0">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': presetStatus[2] == 0, 'btn-danger': presetStatus[2] == 1}" @click="sendOSCcmd('/OPTICS/special1902')">Preset<b class="d-block">3</b></button>
                        </div>
                        <div class="col-3" v-if="page == 1">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': presetStatus[3] == 0, 'btn-danger': presetStatus[3] == 1}" @click="sendOSCcmd('/OPTICS/special1903')">Preset<b class="d-block">4</b></button>
                        </div>
                        <div class="col-3" v-if="page == 1">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': presetStatus[4] == 0, 'btn-danger': presetStatus[4] == 1}" @click="sendOSCcmd('/OPTICS/special1904')">Preset<b class="d-block">5</b></button>
                        </div>
                        <div class="col-3" v-if="page == 1">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': presetStatus[5] == 0, 'btn-danger': presetStatus[5] == 1}" @click="sendOSCcmd('/OPTICS/special1905')">Preset<b class="d-block">6</b></button>
                        </div>
                        <div class="col-3" v-if="page == 2">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': presetStatus[6] == 0, 'btn-danger': presetStatus[6] == 1}" @click="sendOSCcmd('/OPTICS/special1906')">Preset<b class="d-block">7</b></button>
                        </div>
                        <div class="col-3" v-if="page == 2">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': presetStatus[7] == 0, 'btn-danger': presetStatus[7] == 1}" @click="sendOSCcmd('/OPTICS/special1907')">Preset<b class="d-block">8</b></button>
                        </div>
                        <div class="col-3" v-if="page == 2">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': presetStatus[8] == 0, 'btn-danger': presetStatus[8] == 1}" @click="sendOSCcmd('/OPTICS/special1908')">Preset<b class="d-block">9</b></button>
                        </div>
                        <div class="col-3" v-if="page == 3">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': presetStatus[9] == 0, 'btn-danger': presetStatus[9] == 1}" @click="sendOSCcmd('/OPTICS/special1909')">Preset<b class="d-block">10</b></button>
                        </div>
                        <div class="col-3" v-if="page == 3">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': presetStatus[10] == 0, 'btn-danger': presetStatus[10] == 1}" @click="sendOSCcmd('/OPTICS/special1910')">Preset<b class="d-block">11</b></button>
                        </div>
                        <div class="col-3" v-if="page == 3">
                            <button class="w-100 btn btn-sm" :class="{'btn-primary': presetStatus[11] == 0, 'btn-danger': presetStatus[11] == 1}" @click="sendOSCcmd('/OPTICS/special1911')">Preset<b class="d-block">12</b></button>
                        </div>
                        <div class="col-3">
                            <button class="w-100 btn btn-sm btn-primary" @click="sendOSCcmd('/OPTICS/special1999')">Preset<b class="d-block">Set</b></button>
                        </div>
                    </div>
                    <h1 class="text-center">{{uptime}}</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid" v-if="page == 0">
            <div class="row">
                <div class="col text-center" v-for="n in 9">
                    <b>{{divLabels[n-1]}}</b>
                    <div class="mb-2 d-flex" v-for="(stop, i) in stops.slice((n-1)*7, n*7)" :id="i+(n-1)*7">
                        <button class="btn btn-sm w-100" :class="{'btn-secondary': stop.active == 0, 'btn-success': stop.active == 1}" :disabled="stop.name == ''" @click="sendOSCcmd('/Stops/push'+(i+(n-1)*7+1).toString())">{{stop.name}}<span v-if="stop.name == ''">Empty</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" v-if="page == 1">
            <div class="row">
                <div class="col text-center" v-for="n in 9">
                    <b>{{divLabels[9+(n-1)]}}</b>
                    <div class="mb-2 d-flex" v-for="(stop, i) in stops.slice(63+(n-1)*7, 63+n*7)" :id="63+i+(n-1)*7">
                        <button class="btn btn-sm w-100" :class="{'btn-secondary': stop.active == 0, 'btn-success': stop.active == 1}" :disabled="stop.name == ''" @click="sendOSCcmd('/Stops/push'+(64+i+(n-1)*7).toString())">{{stop.name}}<span v-if="stop.name == ''">Empty</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" v-if="page == 2">
            <div class="row">
                <div class="col text-center" v-for="n in 9">
                    <b>{{divLabels[18+(n-1)]}}</b>
                    <div class="mb-2 d-flex" v-for="(stop, i) in stops.slice(126+(n-1)*7, 126+n*7)" :id="126+i+(n-1)*7">
                        <button class="btn btn-sm w-100" :class="{'btn-secondary': stop.active == 0, 'btn-success': stop.active == 1}" :disabled="stop.name == ''" @click="sendOSCcmd('/Stops/push'+(127+i+(n-1)*7).toString())">{{stop.name}}<span v-if="stop.name == ''">Empty</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" v-if="page == 3">
            <div class="row">
                <div class="col text-center" v-for="n in 9">
                    <b>{{divLabels[27+(n-1)]}}</b>
                    <div class="mb-2 d-flex" v-for="(stop, i) in stops.slice(189+(n-1)*7, 189+n*7)" :id="189+i+(n-1)*7">
                        <button class="btn btn-sm w-100" :class="{'btn-secondary': stop.active == 0, 'btn-success': stop.active == 1}" :disabled="stop.name == ''" @click="sendOSCcmd('/Stops/push'+(190+i+(n-1)*7).toString())">{{stop.name}}<span v-if="stop.name == ''">Empty</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-light" v-if="page == 5">
            <div v-for="(expr, i) in expressions" class="d-inline-block me-5 mb-5 text-center" :key="i">
                <b>{{expr.name}}</b>
                <br>
                <input type="range" class="form-range mt-2" orient="vertical" min="0" max="1" @input="moveFader(i)" v-model="expr.value" step="0.001">
            </div>
        </div>
        <div class="container-fluid" v-if="page == 6">
            <div class="row mt-5">
                <div class="col-12 col-md-6 text-center">
                    <h1><b>{{ trackNum }}</b></h1>
                </div>
                <div class="col-12 col-md-6 text-center mt-5 mt-md-0">
                    <h1>Time: <b>{{ trackTime }}</b></h1>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-6 col-md-3">
                    <h4 class="text-danger" v-if="trackLocked == 1">Track Locked</h4>
                    <h4 class="text-warning" v-if="trackLocked == 0">Track Unlocked</h4>
                </div>
                <div class="col-6 col-md-3">
                    <!-- Empty for spacing -->
                </div>
            </div>
            <div class="row mt-1 justify-content-center">
                <div class="col-6 col-md-3">
                    <button @click="sendOSCcmd('/OPTICS/special2034')" class="btn btn-lg w-100 btn-primary pt-4 pb-4"><span v-if="trackLocked == 1">Unlock</span><span v-else>Lock</span></button>
                </div>
                <div class="col-6 col-md-3">
                    <button @click="sendOSCcmd('/OPTICS/special2035')" class="btn btn-lg w-100 btn-danger pt-4 pb-4">Record</button>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-6 col-md-3">
                    <button @click="sendOSCcmd('/OPTICS/special2033')" class="btn btn-lg w-100 btn-secondary pt-4 pb-4">Track -10</button>
                </div>
                <div class="col-6 col-md-3">
                    <button @click="sendOSCcmd('/OPTICS/special2032')" class="btn btn-lg w-100 btn-secondary pt-4 pb-4">Track Down</button>
                </div>
                <div class="col-6 col-md-3 mt-3 mt-md-0">
                    <button @click="sendOSCcmd('/OPTICS/special2031')" class="btn btn-lg w-100 btn-secondary pt-4 pb-4">Track Up</button>
                </div>
                <div class="col-6 col-md-3 mt-3 mt-md-0">
                    <button @click="sendOSCcmd('/OPTICS/special2030')" class="btn btn-lg w-100 btn-secondary pt-4 pb-4">Track +10</button>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-6 col-md-3">
                    <button @click="sendOSCcmd('/OPTICS/special2036')" class="btn btn-lg w-100 btn-success pt-4 pb-4">Play</button>
                </div>
                <div class="col-6 col-md-3">
                    <button @click="sendOSCcmd('/OPTICS/special2037')" class="btn btn-lg w-100 btn-danger pt-4 pb-4">Stop</button>
                </div>
            </div>
            <div class="container mt-3 text-center">
                <button class="btn btn-primary me-2" @click="sendOSCcmd('/OPTICS/special' + (2100 + Number(i)).toString())" v-for="(item, i) in trackNames" :id="i">{{item}}</button>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module">
        import { createApp } from 'vue'
        var socket = io();

        const app = createApp({
            data() {
                return {
                    page: 0,
                    trackNum: "No Track",
                    trackTime: "-- : --",
                    trackLocked: 0,
                    uptime: "No Uptime",
                    magicTunerStatus: {active: 0, pattern: "No Pattern", currentNote: "Off"},
                    trackNames: { },
                    stops: [],
                    divLabels: [],
                    sostActive: 0,
                    presetStatus: [],
                    pitchStatus: [],
                    expressions: []
                }
            },
            methods: {
                sendMessage(message) {
                    socket.emit(message);
                },
                sendOSCcmd(cmd, state = 1) {
                    socket.emit('sendOSCcmd', {cmd: cmd, state: state});
                },
                moveFader(id) {
                    socket.emit('moveFader', {id: id, value: this.expressions[id].value});
                }
            }
        }).mount('#app');

        socket.on('trackNum', function (num) {
            app.trackNum = num;
        });

        socket.on('trackTime', function (time) {
            app.trackTime = time;
        });

        socket.on('trackLocked', function (locked) {
            app.trackLocked = locked;
        });

        socket.on('uptime', function (time) {
            app.uptime = time;
        });

        socket.on('magicTunerStatus', function (status) {
            app.magicTunerStatus = status;
        });

        socket.on('trackNames', function (names) {
            app.trackNames = names;
        });

        socket.on('stops', function (stops) {
            app.stops = stops;
        });

        socket.on('divLabels', function (labels) {
            app.divLabels = labels;
        });

        socket.on('sostActive', function (active) {
            app.sostActive = active;
        });

        socket.on('presetStatus', function (status) {
            app.presetStatus = status;
        });

        socket.on('pitchStatus', function (status) {
            app.pitchStatus = status;
        });

        socket.on('expressions', function (expressions) {
            app.expressions = expressions;
        });
    </script>
</body>

</html>